BREVO_API_KEY=<your-actual-brevo-api-key-here>
EMAIL_SENDER_ADDRESS=<your-actual-sender-email-address-here>
EMAIL_LOGO_URL=<your-logo-url-here>

DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
DATABASE_SSL_CERT_PATH=<path to cert>
DB_SHOULD_MIGRATE=true
ALLOW_DB_RESET=true

SESSION_TOKEN_SECRET_KEY=dev_secret_key
SESSION_TOKEN_DURATION=24h

SERVER_FIXED_TOKEN=<your-fixed-server-token-here>
SERVER_ADMIN_EMAIL=<your-admin-email-here>
SERVER_ADMIN_PASSWORD=<your-admin-password-here>

ASSETS_COSMETICS_BUCKET_NAME=<your-cosmetics-bucket-name-here>
ASSETS_WORLDS_BUCKET_NAME=<your-worlds-bucket-name-here>

STRIPE_API_KEY=<your-stripe-secret-key-here>
STRIPE_GEMS_WEBHOOK_SECRET=<your-stripe-gems-webhook-secret-here>
STRIPE_SUBSCRIPTIONS_WEBHOOK_SECRET=<your-stripe-subscriptions-webhook-secret-here>
STRIPE_DEVICE_NAME=ftr-webhook-dev
STRIPE_ZONE_PRICE=5
STRIPE_BILLING_ANCHOR_DAY=5
STRIPE_BILLING_TIMEZONE=America/Argentina/Buenos_Aires
CREATOR_REVENUE_PERCENT=0.1

SUBSCRIPTION_ON=false
STRIPE_REAL_PRICE=false
