  repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
    - repo: https://github.com/golangci/golangci-lint
      rev: v2.0.2
      hooks:
        - id: golangci-lint
          name: golangci-lint
          entry: golangci-lint run
          language: system
          files: \.(go)$
    - repo: local
      hooks:
        - id: go-fmt-check
          name: gofmt check
          entry: bash -c 'files=$(gofmt -w -l "$@"); if [ -n "$files" ]; then echo "Unformatted files:"; echo "$files"; exit 1; fi' --
          language: system
          types: [go]
          pass_filenames: true
