name: Build
on:
  workflow_call:
    outputs:
      image_tag:
        value: ${{ jobs.build.outputs.image_tag }}

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.tag.outputs.image_tag }}
    steps:
      - uses: actions/checkout@v4

      - name: Set Image Tag
        id: tag
        run: echo "image_tag=$(date +%Y%m%d-%H%M%S)-$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $GITHUB_ACTOR --password-stdin

      - name: Build & Push
        run: |
          docker build -t ghcr.io/feedtherealm-org/core-service:${{ steps.tag.outputs.image_tag }} .
          docker push ghcr.io/feedtherealm-org/core-service:${{ steps.tag.outputs.image_tag }}
